


.flexParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexParent > div {
  width: 200px;
  height: 200px;
  border: 1px solid #002403;;
  margin: 10px;
  border-radius: 15px 50px;
  padding: 1rem;
}

.donation-qty {
  width: 2rem;
  background-color: #f3f3cf;
  border-radius: 5px;
}



.donation-button {
  width: 2rem;
  background-color:#002403;
  color: #f3f3cf;
  border-radius: 5px;
  margin: .5rem;

}
/* input {
  width: 50px;
  text-align: center;
}
div {
  text-align: center;
} */
