


.flexParent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.flexParent > div {
  width: 200px;
  height: 200px;
  border: 1px solid #002403;;
  margin: 10px;
  border-radius: 15px 50px;
}
/* input {
  width: 50px;
  text-align: center;
}
div {
  text-align: center;
} */
