.header {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: "logo empty nav";
  overflow: hidden;
  background-color: #f3f3cf;
  height: 3rem;
  padding: 1rem;
  align-content: center;
  font-size: 2.5rem;
  border-bottom: 2px solid #002403;
  
}

h1 {
  font-size: 2.5rem;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.routes {
  float: right;
  color: #002403;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin: 0px 0px 0px 10px;
}

.logo {
  height: 3.5rem;
  width: auto;
  grid-area: logo;
  align-self: center;
}

.header .routes:hover {
  background-color: #002403;
  color: #f3f3cf;
}

.header .active{
  background-color: #f3f3cf;
  color: #002403;
  
}

.header .routes .active:hover{
  background-color: #f3f3cf;
  color: #002403;
  
}

.header-right {
  float: right;
  grid-area: nav;
  align-self: center;
}

@media screen and (max-width: 500px) {
  .header .routes{
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
}