/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar .active {
  background-color: #00ad6e;
  color: rgb(255, 255, 255);
}

.sidebar .nav {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .nav:hover {
  color: #f1f1f1;
}
.sidebar .nav:hover:not(.active) {
  background-color: rgb(85, 85, 85);
  color: #ecfae8;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.sidebar button {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}


/* .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #81818100;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidebar Link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #011300;;
  display: block;
  transition: 0.3s;
}

.sidebar Link:hover {
  color: #033000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0f7b09;
  color: #011300;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #067700;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar .active {
  background-color: #00ad6e;
  color: rgb(255, 255, 255);
}



.sidebar button {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}



@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}
 */
