.update-pet{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  z-index: 100;
 justify-content: center;
 align-items: center;
 
}

.update-pet input{
  width: 10rem;
  border: unset;
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1.5px solid hsl(210, 10%, 75%);
  padding: 5px;
}

input.update-pet-radio{
  border: unset;
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  border-bottom: 1.5px solid hsl(210, 10%, 75%);
  padding: 5px;
  width: auto;
}

.update-pet label {
  padding: 5px;
}

.update-pet input:focus{
  outline: none;
}

.update-pet button {
  font-size: 1rem;
  padding: 7px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #002403;
}

.update-pet textarea {
  height: 150px;
  border-color: hsl(210, 10%, 75%);
  padding: 5px;
  font-size: 1rem;
  width: -webkit-fill-available;
}

.update-pet textarea:focus { 
  outline: none;
}

.update-pet button:hover {
  background-color: #002403c9;
}

.update-pet button:active {
  background-color: #002403dd;
}